.movie-info {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    align-items: center;
    color: black;
    padding: 10px;
}

/* .movie-info img {
      width: 100%;
      max-width: 20rem;
      max-height: 20rem;
} */
