* {
  /* background-color: blue;
  border: 1px solid red; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: lightblue;
}

.Page-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  align-items: center;
  padding: 20px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
}

form {
  padding: 5px;
}

form [type] {
  background-color: seashell;
  margin: 5px;
}

form [type="submit"] {
  padding: 2px;
}